.welcome {
    font-family: "sage", sans-serif;
    font-size: 20px;
    text-indent: 70px;
    color: white;
    width: 100%;
    height: auto;
}

body {
    background-image: url(david-travis-5bYxXawHOQg-unsplash.jpg);
    background-size: cover;
    padding: 0px;
}

.words {
    font-size: 50px;
}


button {
    box-shadow: 8px 0px 0px 0px #899599;
    border-radius: 105px;
    border: 2px solid #5c4003;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 25px;
    padding: 12px 25px;
    font-family: "Ariel", sans-serif;
    text-decoration: none;
    text-shadow: 0px 2px 0px #93B5C6;
    margin: 10px;
}

button:hover {
    background-color: #bab1ba;
}

button:active {
    position: relative;
    top: 1px;
}

body .image-section {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    background-color: rgba(255, 255, 255, 0.5);
    height: 12em;
    width: 100%;
}


.image-section {
    overflow-x: hidden;
}


.image-section img {
    overflow: hidden;
    height: 90%;
    width: 600px;
    animation: slideInfinite 16s linear infinite;
    padding: 10px;
}

@keyframes slideInfinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}